<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut est illo nostrum alias, odio quae deleniti tempore, fugiat id obcaecati atque culpa fugit ratione iusto numquam repellendus sequi labore commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda minima asperiores iste non pariatur doloribus itaque excepturi quibusdam. Error pariatur in reprehenderit facilis totam alias non dolor autem ipsa.
    </p>
    <p><%= info %></p>
</body>
</html>